<div>
  <mat-toolbar
    class="header mat-elevation-z3"
    color="primary">

    <button
      [matMenuTriggerFor]="userMenu"
      mat-icon-button
      aria-label="Main menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="/profile">User Profile</button>
      <button mat-menu-item routerLink="/account">Manage Account</button>
      <button mat-menu-item routerLink="/books">Books</button>
    </mat-menu>

    <span [style.cursor]="'pointer'" routerLink="/home">My App</span>

    <span class="spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar>
</div>

<div class="container">
  <router-outlet />
</div>
