/* Add application styles & imports to this file! */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100%;
}

/* Default: Extra-small devices such as small phones (less than 640px) */
div.container {
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  border: none;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
}

div.container:after {
  content: "width is under 640px";
  display: block;
  margin-top: 40px;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  div.container {
    width: calc(100% - 70px);
    border: 1px solid #F3F3F3;
  }

  div.container:after {
    content: "640px to 768px";
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  div.container {
    width: calc(100% - 150px);
  }

  div.container:after {
    content: "768px to 1024px";
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  div.container {
    width: 748px;
  }

  div.container:after {
    content: "1024px to 1280px";
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  div.container {
    width: 1024px;
  }

  div.container:after {
    content: "over 1280px";
  }
}
